JSEARCH_API_KEY=your_jsearch_key #there are other api keys available like google, bing, etc.
GEMINI_API_KEY=your_gemini_key #you may use any other LLM provider like openai, anthropic, etc.
FRONTEND_URL=http://localhost:5173
PORT=3001
VITE_API_URL=http://localhost:3001